.header {
    padding: 8px 24px 32px;
}
.title > h1 {
    font-size: 24px;
    line-height: 1.45;
    font-weight: bold;
}
.date {
    margin-top: 16px;
}
.date > p {
    color: rgb(158, 158, 158);
}
.product-wrap {
    padding: 24px 16px;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-wrap: wrap;
}
.product {
    min-width: calc(50% - 8px);
}
.product:nth-child(2n) {
    margin-left: auto;
}
.product:nth-child(n+3) {
    margin-top: 24px;
}
.image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 228px;
    border-radius: 12px;
}
.promotion-image {
    /*background-image: ;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 700px;
}
.description {
    margin-top: 8px;
}
.title {
    font-size: 15px;
}
.price {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}
dt {
    font-size: 18px;
    font-weight: bold;
    color: rgb(254, 107, 136);
}
dd {
    font-size: 18px;
    font-weight: bold;
    margin-left: 4px;
}

.tab-wrap {
    display: flex;
    padding: 0 16px;
    border-bottom: 1px solid rgb(245, 245, 245);
}
.tab {
    padding: 19px 16px 18px;
    position: relative;
}
.tab:after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(1, 11, 25);
    bottom: 0;
    left: 0;
    transition: transform 0.3s;
    transform: scale(0);
}
.tab._active:after {
    transform: scale(1);
}
.tab > p {
    font-size: 15px;
    letter-spacing: 0;
    font-weight: bold;
    color: rgb(224, 224, 224);
    line-height: 1.45;
    transition: color 0.3s;
}
.tab._active > p {
    color: rgb(1, 11, 25);
}

.type-e > .slider {
    position: relative;
    margin-bottom: 32px;
}

.type-e > .header {
    padding-bottom: 24px;
}

.type-e > .product-wrap {
}

.type-e > .product-wrap > .product {
    min-width: 100%;
}

.type-e > .product-wrap > .product + .product {
    margin-top: 24px;
}

.type-e > .product-wrap > .product > .description {
    margin-top: 16px;
}

.type-e > .product-wrap > .product > .description > .title {
    font-size: 17px;
    font-weight: bold;
}

.type-e > .product-wrap > .product > .description > .price {
    margin-top: 8px;
}

.custom-dots {
    display: flex;
    width: 100%;
    padding: 0 16px;
    position: absolute;
    bottom: 16px;
    height: 1px;
}
.custom-dots > li {
    width: 25%;
    height: 1px;
    background-color: rgb(247, 247, 247);
}
.custom-dots > li.slick-active {
    background-color: rgb(17, 17, 17);
}
.custom-dots > li > button {
    font-size: 0;
    width: 100%;
    height: 100%;
    display: block;
}
