@font-face {
    font-family: NotoSansKR;
    src: local(NotoSansKR-Light),
    url(fonts/NotoSansKR-Light.woff2) format("woff2"),
    url(fonts/NotoSansKR-Light.woff) format("woff"),
    url(fonts/NotoSansKR-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: NotoSansKR;
    src: local(NotoSansKR-Regular),
    url(fonts/NotoSansKR-Regular.woff2) format("woff2"),
    url(fonts/NotoSansKR-Regular.woff) format("woff"),
    url(fonts/NotoSansKR-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: NotoSansKR;
    src: local(NotoSansKR-Bold),
    url(fonts/NotoSansKR-Bold.woff2) format("woff2"),
    url(fonts/NotoSansKR-Bold.woff) format("woff"),
    url(fonts/NotoSansKR-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

html, body {
    width: 100%;
    height: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: NotoSansKR;
    letter-spacing: 0.0px;
    /*line-height: 1.45;*/
    color: rgb(17, 17, 17);
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, select, textarea {
    outline: none;
    padding: 0;
}
button {
    background-color: inherit;
    padding: 0;
    border: none;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}
image {
    display: block;
}

