@keyframes moveToBottom {
    from {bottom: -100%;}
    to {bottom: 0;}
}

@keyframes moveToLeft {
    from {left: -100%;}
    to {left: 0;}
}

.back-button {
    display: block;
}
.header {
    padding: 8px 24px 32px;
}
.title > h1 {
    font-size: 24px;
    line-height: 1.45;
    font-weight: bold;
}
.date {
    margin-top: 16px;
}
.date > p {
    color: rgb(158, 158, 158);
}
.event-image {
    width: 100%;
    height: auto;
}
.event-image > img {
    display: block;
    width: 100%;
    height: auto;
}

.photo-detail-images {
    width: 100%;
    /*padding-bottom: 100%;*/
    height: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.button-wrap {
    position: fixed;
    bottom: 16px;
    padding: 0 16px;
    width: 100%;
    z-index: 100;
    transition: all 0.3s;
}

.button-wrap > button {
    width: 100%;
    height: 54px;
    border-radius: 12px;
    background-color: rgb(46, 123, 255);
    color: #FFF;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.0px;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s;
}

.button-wrap > button[disabled=disabled] {
    background-color: rgb(245, 245, 245);
    color: rgb(158, 158, 158);
}

.button-wrap.bottom-mode {
    bottom: 0;
    padding: 0;
}

.button-wrap.bottom-mode > button {
    border-radius: 0;
}

.tab-wrap {
    display: flex;
    padding: 0 16px;
    border-bottom: 1px solid rgb(245, 245, 245);
}
.tab {
    width: 50%;
    padding: 19px 16px 18px;
    position: relative;
}
.tab > p {
    font-size: 15px;
    letter-spacing: 0;
    font-weight: bold;
    color: rgb(224, 224, 224);
    line-height: 1.45;
    text-align: center;
}
.tab:after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(1, 11, 25);
    bottom: 0;
    left: 0;
    transition: transform 0.3s;
    transform: scale(0);
}
.tab._active:after {
    transform: scale(1);
}
.tab._active > p {
    color: rgb(1, 11, 25);
}

.type-c > .event-notice > .header {
    padding-top: 24px;
}
.comment-wrap {
    padding: 0 16px;
}
.comment {
    margin-top: 32px;
    display: flex;
}
.profile-wrap {
    display: flex;
}
.profile {
    width: 40px;
    height: 40px;
    /*background-color: rgb(0, 94, 255);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
.info-wrap {
    margin-left: 12px;
    width: calc(100% - 52px);
}
.info {
    display: flex;
    align-items: center;
    width: 100%;
}
.user-name {
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
}
.comment-date {
    margin-left: auto;
    font-size: 13px;
    line-height: 19px;
    color: rgb(158, 158, 158);
}
.comment-content {
    margin-top: 15px;
    padding: 16px;
    background-color: rgb(250, 250, 250);
    font-size: 15px;
    line-height: 21px;
    color: rgb(17, 17, 17);
}

.comment-register {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    left: 0;
    bottom: 0;
    animation-name: moveToBottom;
    animation-duration: 0.5s;
    transition: all 0.5s;
}

.comment-register-header {
    position: relative;
}
.comment-register-header > p {
    text-align: center;
    padding: 10px 0 13px;
    font-size: 17px;
    line-height: 25px;
    color: rgb(17, 17, 17);
}
.comment-register-header > img {
    position: absolute;
    left: 0;
    top: 0;
}
.comment-register-content {
    width: 100%;
    height: calc(100% - 48px);
    padding: 24px 16px;
}
.comment-register-content > textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    font-size: 17px;
    line-height: 25px;
    color: #03031D;
}

.comment-register-content > textarea::placeholder {
    color: #747480;
}

.photo-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.photo-wrap > .photo {
    display: block;
    width: 33.3333%;
    padding-bottom: 33.3333%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 0;
    /*height: auto;*/
}

.photo-detail {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    animation-name: moveToLeft;
    animation-duration: 0.5s;
    transition: all 0.5s;
    padding-right: 17px;
    box-sizing: content-box;
}

.photo-detail.close {
    left: -100%;
}

.photo-header {
    position: relative;
}

.photo-header > img {
    position: absolute;
    left: 0;
    top: 0;
}

.photo-header > p {
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.0px;
    line-height: 1.5;
    padding: 10px 0 13px;
}

.user-profile {
    display: flex;
    align-items: center;
    padding: 24px 16px;
    border-bottom: 1px solid rgb(245, 245, 245);
}

.user-profile > .profile {
    margin-right: 12px;
}

.user-profile-name {
    font-size: 17px;
    font-weight: bold;
}

.custom-dots {
    display: flex;
    width: 100%;
    padding: 0 16px;
    position: absolute;
    bottom: 16px;
    height: 1px;
}

.custom-dots > li {
    width: 100%;
    height: 1px;
    background-color: rgb(247, 247, 247);
}
.custom-dots > li.slick-active {
    background-color: rgb(17, 17, 17);
}
.custom-dots > li > button {
    font-size: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.user-pet-wrap {
    padding: 24px 16px 44px;
}

.user-pet-description {
    margin-bottom: 24px;
}

.user-pet-description > p {
    font-size: 17px;
    font-weight: bold;
}

.pet-list > .slick-list {
    overflow: auto;
}

.pet {
    padding: 24px;
    background-color: rgb(250, 250, 250);
    border-radius: 12px;
    width: 156px;
    margin-right: 16px;
}

.pet-image {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pet-name, .pet-info {
    text-align: center;
}
