<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/resources/static/css/common.css">
    <link rel="stylesheet" href="/resources/static/css/event.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section id="app" class="type-c">
    <div>
        <img class="back-button" alt="뒤로가기버튼" src="/resources/static/img/iconBarBack.svg" @click="backButtonEvent" />
    </div>
    <div class="tab-wrap">
        <div class="tab" :class="{'_active': showEvent}">
            <p @click="tabClickEvent(0)">이벤트 안내</p>
        </div>
        <div class="tab" :class="{'_active': showJoin}">
            <p @click="tabClickEvent(1)">참가현황</p>
        </div>
    </div>
    <div class="event-notice" v-if="showEvent">
        <div class="header">
            <div class="title">
                <h1>이벤트 Type A<br/>지금까지 이런 맛은 없었다{{ test }}</h1>
            </div>
            <div class="date">
                <p>2021.11.11 ~ 2021.11.30</p>
            </div>
        </div>
        <div
            class="event-image"
            style="background-image: url('/resources/static/img/img_1.png')"
        ></div>
        <div v-if="showButton" class="button-wrap" :class="{'bottom-mode': buttonBottomMode}">
            <button @click="buttonClick" :disabled="buttonDisabled">{{buttonWording}}</button>
        </div>
        <div class="comment-register" v-if="showCommentRegister">
            <div class="comment-register-header">
                <img alt="닫기버튼" src="/resources/static/img/iconBarClose.svg" @click="closeCommentRegister" />
                <p>댓글 등록하기</p>
            </div>
            <div class="comment-register-content">
                <textarea placeholder="여기에 작성을 해주세요" v-model="comment"></textarea>
            </div>
        </div>
    </div>
    <div class="other-view" v-else>
        <div class="comment-wrap">
            <div class="comment">
                <div class="profile-wrap">
                    <div class="profile"></div>
                </div>
                <div class="info-wrap">
                    <div class="info">
                        <p class="user-name">수원왕갈비</p>
                        <p class="comment-date">2021.11.11</p>
                    </div>
                    <div class="comment-content">
                        가장 완벽한 계획이 뭔지 알아? 무계획이야. 계획을 하면 모든 계획이 다 계획대로 되지 않는 게 인생이거든.
                    </div>
                </div>
            </div>
            <div class="comment">
                <div class="profile-wrap">
                    <div class="profile"></div>
                </div>
                <div class="info-wrap">
                    <div class="info">
                        <p class="user-name">포천이동막걸리</p>
                        <p class="comment-date">2021.11.08</p>
                    </div>
                    <div class="comment-content">
                        헌데, 관상가 양반! 생각해보니 영 이상하구만! 나는 이미 왕이 되었는데 나보고 왕이 될 상이라니... 이거순 엉터리 아닌가
                    </div>
                </div>
            </div>
            <div class="comment">
                <div class="profile-wrap">
                    <div class="profile"></div>
                </div>
                <div class="info-wrap">
                    <div class="info">
                        <p class="user-name">전주비빔밥</p>
                        <p class="comment-date">2021.11.06</p>
                    </div>
                    <div class="comment-content">
                        백성을 하늘처럼 섬기는 왕,
                        진정 그것이 그대가 꿈꾸는 왕이라면
                        그 꿈 내가 이뤄 드리리다
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js" integrity="sha512-Idr7xVNnMWCsgBQscTSCivBNWWH30oo/tzYORviOCrLKmBaRxRflm2miNhTFJNVmXvCtzgms5nlJF4az2hiGnA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="/resources/static/js/event.js"></script>
</body>
</html>
