<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<link rel="stylesheet" href="/resources/static/de71a191ee2d7e8ecfb0.css">
<link rel="stylesheet" href="/resources/static/2640cea22441b5b0c72f.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>Title</title>

<script defer src="/resources/static/bundle.js"></script></head>
<body>
<section id="app" :class="['type-' + type]">
  <div class="slider" v-if="type === 'e'">
    <div
        class="promotion-image"
        style="background-image: url('/resources/static/img/img_2.png')"
    ></div>
    <div
        class="promotion-image"
        style="background-image: url('/resources/static/img/img_1.png')"
    ></div>
    <div
        class="promotion-image"
        style="background-image: url('/resources/static/img/img_2.png')"
    ></div>
    <div
        class="promotion-image"
        style="background-image: url('/resources/static/img/img_1.png')"
    ></div>
  </div>
  <div class="header">
    <div class="title">
      <h1>기획전 Type A<br/>지금까지 이런 맛은 없었다</h1>
    </div>
    <div class="date">
      <p>2021.11.11 ~ 2021.11.30</p>
    </div>
  </div>
  <div
      v-if="type !== 'e'"
      class="promotion-image"
      style="background-image: url('/resources/static/img/img_1.png')"
  ></div>
  <div class="tab-wrap" v-if="type === 'b'">
    <div
        v-for="(tab, index) in typeBTabList"
        class="tab"
        :class="{'_active': typeBActiveTab === index}"
        @click="tabClickEvent(index)"
    >
      <p>{{ tab.text }}</p>
    </div>
  </div>
  <div class="product-wrap">
    <div class="product">
      <div
          class="image"
          style="background-image: url('/resources/static/img/img.png')"
      ></div>
      <div class="description">
        <p class="title">웜지스 밸류팩 스몰<br/>24개입</p>
        <dl class="price">
          <dt>38%</dt>
          <dd>33,000</dd>
        </dl>
      </div>
    </div>
    <div class="product">
      <div
          class="image"
          style="background-image: url('/resources/static/img/img.png')"
      ></div>
      <div class="description">
        <p class="title">웜지스 밸류팩 스몰<br/>24개입</p>
        <dl class="price">
          <dt>38%</dt>
          <dd>33,000</dd>
        </dl>
      </div>
    </div>
    <div class="product">
      <div
          class="image"
          style="background-image: url('/resources/static/img/img.png')"
      ></div>
      <div class="description">
        <p class="title">웜지스 밸류팩 스몰<br/>24개입</p>
        <dl class="price">
          <dt>38%</dt>
          <dd>33,000</dd>
        </dl>
      </div>
    </div>
    <div class="product">
      <div
          class="image"
          style="background-image: url('/resources/static/img/img.png')"
      ></div>
      <div class="description">
        <p class="title">웜지스 밸류팩 스몰<br/>24개입</p>
        <dl class="price">
          <dt>38%</dt>
          <dd>33,000</dd>
        </dl>
      </div>
    </div>
    <div class="product">
      <div
          class="image"
          style="background-image: url('/resources/static/img/img.png')"
      ></div>
      <div class="description">
        <p class="title">웜지스 밸류팩 스몰<br/>24개입</p>
        <dl class="price">
          <dt>38%</dt>
          <dd>33,000</dd>
        </dl>
      </div>
    </div>
    <div class="product">
      <div
          class="image"
          style="background-image: url('/resources/static/img/img.png')"
      ></div>
      <div class="description">
        <p class="title">웜지스 밸류팩 스몰<br/>24개입</p>
        <dl class="price">
          <dt>38%</dt>
          <dd>33,000</dd>
        </dl>
      </div>
    </div>
  </div>
</section>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</html>
